.home .hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100vw;
  /* Ocupa todo el ancho de la pantalla */
  background-image: linear-gradient(135deg, rgba(47, 79, 79, 0.5), rgba(46, 139, 87, 0.5)), url('https://www.ceupe.do/images/easyblog_articles/281/b2ap3_large_Agrotech.jpg');
  /* Cambia esta ruta a tu imagen */
  background-size: cover;
  /* Cubre todo el contenedor manteniendo la proporción */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  transition: transform 0.3s ease;
  overflow: hidden;
  /* Evita cualquier desbordamiento */
}

.home .hero:hover {
  transform: scale(1.02);
  /* Un pequeño efecto de acercamiento en el hover */
}